<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Curso DEV</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.google.com" target="_blank">Factory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("List","Customer")">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Assembly</a>
                    </li>
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Link</a></li>
                            <li><a class="dropdown-item" href="#">Another link</a></li>
                            <li><a class="dropdown-item" href="#">A third link</a></li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-3">
        @{ 
            if(TempData["Success"] != null)
            {
                <div class="row">
                    <div class="col-xs-12">
                        @if ((bool)TempData["Success"] == true)
                        {
                            <div class="alert alert-success">
                                <strong>Success!</strong>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <strong>@TempData["Message"]</strong>
                            </div>
                        }
                    </div>
                </div>
                
            }
        }
        @RenderBody()
    </div>
</body>
</html>
